body {
  background: #e8e8e8;
}

a {
  color: #646e5e;
  font-weight: bold;
}

.App {
  margin: 0 auto;
  max-width: 100vmh;
}

.App-header {
  margin: 0px;
}

.App-logo {
  max-width: 100vmh;
  display: block;
  margin: 0 auto;
}

.App-footer {
  margin: 30px 0;
  text-align: center;
}
